# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/node_modules/
.parcel-cache
.cache/0a/2d0c4be25c301c39989664171d2f82.json
.cache/0b/b62a395b2f1f609a3d08fa41a87cee.json
.cache/0e/4f31f0e8c2c80e2c722a2f40f0adb8.json
.cache/0f/252776074a075011e5ac4ee009333b.json
.cache/12/6539832ff344e0f46239a015bdfbd1.json
.cache/12/73f2e7fd4b1de115739541b4ba803e.json
.cache/17/d8b4c7a8a9dfcaffadd649bc0bd31e.json
.cache/27/fb5a9785331486769a453626fa24b9.json
.cache/2b/575391a1a47e7997e0f48db9174d56.json
.cache/2b/b6b37a873ae87c123f512e998a1f69.json
.cache/2b/ef3b34d7c79820829093ba22b86479.json
.cache/2f/714936ac915e263e50b2c881c061a5.json
.cache/47/e5202fc7e334c33d042b35b1b8089d.json
.cache/4f/594129490b5274b0c2006bdc33d368.json
.cache/53/9cafbe02bac9235dedd0a15e93294b.json
.cache/55/eb0b5f386f7681e75b077004a192eb.json
.cache/55/f96c556fb4f21d6b6dfd17c299eaa6.json
.cache/56/48397404c7521a1dcdcf8ef084654f.json
.cache/68/fa830864996de46ca32d3e266bb235.json
.cache/6f/8522234541882abe2f35820039694c.json
.cache/71/6638c15b26c94a6c28a036a7bb45c6.json
.cache/80/489781bd7d977bc90f254057af46f1.json
.cache/84/3343cf638ec7923f7411e146d6e89d.json
.cache/90/2ebf9f6a19d4a89224128a27fd897b.json
.cache/92/942d7530d5ab9f4f51a6b91716bb24.json
.cache/97/062df6ba9186f62dac07430854400d.json
.cache/9d/5d6d700dba33196b9c47607cab821c.json
.cache/9e/df6311d0af0836227f75e1b3bdd518.json
.cache/9f/1f0b895bd944b3d713173a78656d34.json
.cache/a1/8d98ba68bc50553c4598801af69b8f.json
.cache/a2/b97bcb9feb243a0dd4672de6ce0859.json
.cache/a2/d5edf9e420184bfaae6e69095e5642.json
.cache/ad/7759042685230988f177292c6cf28b.json
.cache/b1/7d24e7b1fc6a59e257937aa03dc050.json
.cache/b8/5f55f67c6e5e0dbec504a7f0aadd26.json
.cache/c9/162dd35eb195bca538b4a5f8d4ccfb.json
.cache/cd/f67c86c1fabbaeca20525ceecd9b73.json
.cache/d1/05533c25ac00bf64c701b52d326caa.json
.cache/df/3179f1ddb25a61e7e230ad438a9817.json
.cache/e3/24a2f67a343e154da5c241e71cf77f.json
.cache/e6/ee37f61515a09eb197ec8d22c3f328.json
.cache/e7/2ed27dda9df8c558d99d8e6d3ef9c0.json
.cache/ec/cd4f24875c1d6a160c32b9d78bcfab.json
.cache/ef/ce0e9ae313ec6c95b4d0ca79c0433e.json
.cache/f5/c9821e8bd2d9a811e36d562aabedd3.json
.cache/f7/859f5ea81ba15374dd05fb1f6a56a2.json
.cache/ff/79e8e4ac9f73708028454c803a1bb4.json
dist/brightlogo.b2822451.png
dist/client.78399e21.js
dist/client.78399e21.js.map
dist/home.cea49ce4.png
dist/moveSmart.52ee41af.png
dist/startPlus.d67f94d5.png
dist/style.e308ff8e.css
dist/style.e308ff8e.css.map
dist/style.e308ff8e.js
dist/style.e308ff8e.js.map
dist/sunbellSmart.94afad92.png
/dist/
/.cache/
src/client/package-lock.json
src/client/node_modules/style.css/changelog.md
src/client/node_modules/style.css/license.md
src/client/node_modules/style.css/package.json
src/client/node_modules/style.css/readme.md
src/client/node_modules/style.css/serif.css
src/client/node_modules/style.css/serif.scss
src/client/node_modules/style.css/style.css
src/client/node_modules/style.css/style.scss
src/client/node_modules/style.css/src/scss/_colors.scss
src/client/node_modules/style.css/src/scss/_document.scss
src/client/node_modules/style.css/src/scss/_embedded.scss
src/client/node_modules/style.css/src/scss/_fonts.scss
src/client/node_modules/style.css/src/scss/_forms.scss
src/client/node_modules/style.css/src/scss/_hidden.scss
src/client/node_modules/style.css/src/scss/_interactive.scss
src/client/node_modules/style.css/src/scss/_scripting.scss
src/client/node_modules/style.css/src/scss/typography/_abbreviations.scss
src/client/node_modules/style.css/src/scss/typography/_blockquotes.scss
src/client/node_modules/style.css/src/scss/typography/_code.scss
src/client/node_modules/style.css/src/scss/typography/_definitions.scss
src/client/node_modules/style.css/src/scss/typography/_emphasis.scss
src/client/node_modules/style.css/src/scss/typography/_figures.scss
src/client/node_modules/style.css/src/scss/typography/_footnotes.scss
src/client/node_modules/style.css/src/scss/typography/_headings.scss
src/client/node_modules/style.css/src/scss/typography/_horizontal-rules.scss
src/client/node_modules/style.css/src/scss/typography/_images.scss
src/client/node_modules/style.css/src/scss/typography/_index.scss
src/client/node_modules/style.css/src/scss/typography/_links.scss
src/client/node_modules/style.css/src/scss/typography/_lists.scss
src/client/node_modules/style.css/src/scss/typography/_paragraphs.scss
src/client/node_modules/style.css/src/scss/typography/_special-emphasis.scss
src/client/node_modules/style.css/src/scss/typography/_tables.scss
