

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

html{
    background-color: #FBF6ED;
}


li, a{
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

h1, h2, h3, h4, p {
    font-family: "Arial", sans-serif;
    font-weight: 500;
}

button{
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2C2A29;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color: #174A5B;
}

.logo{
    width: 170px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    margin-left: 20px;
    margin-top: -15px;
}

.searchBar {
    font-family: "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    height: 35px;
    border-radius: 18px;
    padding: 9px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #C3DC93;
}

.helpBtn{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #C3DC93;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #00966C;
}

.help-container{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.help-container h1{
    margin: 10px;
}
.help-container h3{
    margin: 10px;
}

.startPlusDiv{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 12px;
    overflow: hidden;
    -webkit-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    -moz-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
}

.startPlusImg{
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin-left: -25%;
    margin-top: -30%;
}

.homeDiv{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 10px;
    overflow: hidden;
    -webkit-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    -moz-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
}

.homeImg{
    height: 80%;
    width: 80%;
    object-fit: cover;
    margin-left: 10%;
}

.sunbellSmartDiv{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-top: 10px;
    overflow: hidden;
    -webkit-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    -moz-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
}

.sunbellSmartImg{
    width: 140%;
    object-fit: cover;
    margin-left: -15%;
    margin-top: -30%;
}

.moveSmartDiv{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 10px;
    overflow: hidden;
    -webkit-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    -moz-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
}

.moveSmartImg{

    width: 140%;
    object-fit: cover;
    margin-left: -15%;
    margin-top: -15%;
}

.sunTurtleDiv{
    height: 250px;
    width: 240px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 10px;
    overflow: hidden;
    -webkit-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    -moz-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
}

.sunTurtleImg{
    width: 140%;
    object-fit: cover;
    margin-left: -20%;
}

.sunbellTxt{
    font-family: "Arial", sans-serif;
    margin-top: -25%;
    margin-left: 25%;
}
.moveSmartTxt{
    font-family: "Arial", sans-serif;
    margin-top: -5%;
    margin-left: 30%;
}
.startPlusTxt{
    font-family: "Arial", sans-serif;
    margin-top: -30%;
    margin-left: 30%;
}
.sunTurtleTxt{
    font-family: "Arial", sans-serif;
    margin-top: 8%;
    margin-left: 35%;
}
.homeTxt{
    font-family: "Arial", sans-serif;
    margin-top: 5%;
    margin-left: 40%;
}

.video-settings {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-settings iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.backBtn{
    width: 70px;
    height: 70px;
    margin-left: 10px;
    padding: 9px 25px;
    background-color: #C3DC93;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    -moz-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
}

.backBtn:hover{
    background-color: #00966C;
}

.backBtnImg{
    height: 80px;
    margin-left: -170%;
    margin-top: -70%;
}

.productContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.partsContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 12px;
}

.styleParts{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 250px;
    width: 240px;
    border: 1px solid black;
    border-radius: 35px;
    margin-left: 12px;
    margin-top: 10px;
    overflow: hidden;
    -webkit-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    -moz-box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
    box-shadow: 3px 7px 11px -2px rgba(0,0,0,1);
}
.batteryImg{
    width: 90%;
    object-fit: cover;
    margin-left: 5%;
    margin-top: 15%;
}

.lightAndGooseneckImg{
    width: 50%;
    object-fit: cover;
    margin-left: 25%;
}

.lightUnitImg{
    width: 80%;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 5%;
}

.PCBAImg{
    width: 80%;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 25%;
}

.powerPlugCoverImg{
    width: 50%;
    object-fit: cover;
    margin-left: 25%;
    margin-top: 5%;
}

.screwImg{
    width: 80%;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 15%;
}

.powerSwitchCoverImg{
    width: 80%;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 5%;
}

.solarCableImg{
    width: 80%;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 5%;
}

.solarPanelImg{
    width: 80%;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 5%;
}

.batteryTxt{
    font-family: "Arial", sans-serif;
    margin-top: 10%;
    margin-left: 35%;
}

.lightAndGooseneckTxt{
    font-family: "Arial", sans-serif;
    margin-top: 2%;
    margin-left: 10%;
}

.lightUnitTxt{
    font-family: "Arial", sans-serif;
    margin-top: 0%;
    margin-left: 30%;
}

.PCBATxt{
    font-family: "Arial", sans-serif;
    margin-top: 18%;
    margin-left: 40%;
}

.powerplugCoverTxt{
    font-family: "Arial", sans-serif;
    margin-left: 18%;
}

.screwTxt{
    font-family: "Arial", sans-serif;
    margin-top: 15%;
    margin-left: 35%;
}

.powerSwitchCoverTxt{
    font-family: "Arial", sans-serif;
    margin-top: 10%;
    margin-left: 12%;
}

.solarCableTxt{
    font-family: "Arial", sans-serif;
    margin-top: 13%;
    margin-left: 28%;
}

.solarPanelTxt{
    font-family: "Arial", sans-serif;
    margin-top: 6%;
    margin-left: 28%;
}

@media all and (max-width: 500px){
    .body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        grid-gap: 12px;
    }

}