@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

html{
    background-color: #FBF6ED;
}


li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2C2A29;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color: #174A5B;
}

.logo{
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    margin-left: 20px;
    margin-top: -25px;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #C3DC93;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #C3DC93;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #00966C;
}

.help-container{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.help-container h1{
    margin: 10px;
}
.help-container h3{
    margin: 10px;
}

.startPlusDiv{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.startPlusImg{
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin-left: -20%;
    margin-top: -25%;
}

.homeDiv{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.homeImg{
    height: 80%;
    width: 80%;
    object-fit: cover;
    margin-left: 10%;
}

.sunbellSmartDiv{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.sunbellSmartImg{
    width: 140%;
    object-fit: cover;
    margin-left: -15%;
    margin-top: -30%;
}

.moveSmartDiv{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.moveSmartImg{

    width: 140%;
    object-fit: cover;
    margin-left: -15%;
    margin-top: -15%;
}

.sunTurtleDiv{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 35px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.sunTurtleImg{
    width: 140%;
    object-fit: cover;
    margin-left: -20%;
    
}

.sunbellTxt{
    margin-top: -25%;
    margin-left: 35%;
}
.moveSmartTxt{
    margin-top: -5%;
    margin-left: 25%;
}
.startPlusTxt{
    margin-top: -30%;
    margin-left: 30%;
}
.sunTurtleTxt{
    margin-left: 30%;
    margin-top: 8%;
}
.homeTxt{
    margin-top: 5%;
    margin-left: 35%;

}

.video-settings {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-settings iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

